* {
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px 0px 20px 0px;
    background: linear-gradient(135deg, #f0f8ff, #e0e0e0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 100vh;
}

.menu {
    background: linear-gradient(135deg, #f0f8ff, #e0e0e0);
    display: flex;
    justify-content: center;
    padding: 15px 0;
    box-shadow: inset 3px 3px 5px #bebebe, inset -3px -3px 5px #ffffff;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
}

.menu a {
    color: #333;
    text-decoration: none;
    padding: 12px 25px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #bebebe, -3px -3px 5px #ffffff;
    transition: background 0.3s;
}
.menu .selected{
    color: #d1d1d1;
    text-decoration: none;
    padding: 12px 25px;
    margin: 0 10px;
    border-radius: 10px;
    background: linear-gradient(135deg, #6b6b6b, #aaaaaa);
    box-shadow: -3px -3px 5px #bebebe, 3px 3px 5px #ffffff;
    transition: background 0.3s;
}

.menu a:hover {
    color: #333;
    background: linear-gradient(135deg, #d7ebfd, #fcfcfc);
    box-shadow: 5px 5px 5px #bebebe, -5px -5px 5px #ffffff;
}

.container {
    background: linear-gradient(135deg, #f0f8ff, #e0e0e0);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 7px 7px 15px #bebebe, -7px -7px 15px #ffffff;
    max-width: 700px;
    width: 100%;
    margin: 20px auto;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #555;
    display: block;
}

input[type="text"], input[type="number"], select{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: inset 3px 3px 5px #bebebe, inset -3px -3px 5px #ffffff;
    outline: none;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #f0f8ff, #e0e0e0);
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #bebebe, -3px -3px 5px #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background 0.3s;
}

button:hover {
    background: linear-gradient(135deg, #d7ebfd, #fcfcfc);
    box-shadow: -3px -3px 5px #bebebe, 3px 3px 5px #ffffff;
}

span {
    display: inline-block;
    padding: 12px;
    background: linear-gradient(135deg, #f0f8ff, #e0e0e0);
    border-radius: 10px;
    box-shadow: inset 3px 3px 5px #bebebe, inset -3px -3px 5px #ffffff;
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}
